@font-face {
	font-family: 'KPMG-Extralight';
	src: url('../fonts/KPMG-Extralight.eot');
	src: url('../fonts/KPMG-Extralight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/KPMG-Extralight.svg#KPMG-Extralight') format('svg'),
		 url('../fonts/KPMG-Extralight.ttf') format('truetype'),
		 url('../fonts/KPMG-Extralight.woff') format('woff'),
		 url('../fonts/KPMG-Extralight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KPMG-Light';
	src: url('../fonts/KPMG-Light.eot');
	src: url('../fonts/KPMG-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/KPMG-Light.svg#KPMG-Light') format('svg'),
		 url('../fonts/KPMG-Light.ttf') format('truetype'),
		 url('../fonts/KPMG-Light.woff') format('woff'),
		 url('../fonts/KPMG-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UniversLTStd-Bold';
	src: url('../fonts/UniversLTStd-Bold.eot');
	src: url('../fonts/UniversLTStd-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/UniversLTStd-Bold.svg#UniversLTStd-Bold') format('svg'),
		 url('../fonts/UniversLTStd-Bold.ttf') format('truetype'),
		 url('../fonts/UniversLTStd-Bold.woff') format('woff'),
		 url('../fonts/UniversLTStd-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UniversLTStd-LightObl';
	src: url('../fonts/UniversLTStd-LightObl.eot');
	src: url('../fonts/UniversLTStd-LightObl.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/UniversLTStd-LightObl.svg#UniversLTStd-LightObl') format('svg'),
		 url('../fonts/UniversLTStd-LightObl.ttf') format('truetype'),
		 url('../fonts/UniversLTStd-LightObl.woff') format('woff'),
		 url('../fonts/UniversLTStd-LightObl.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UniversLTStd';
	src: url('../fonts/UniversLTStd.eot');
	src: url('../fonts/UniversLTStd.eot?#iefix') format('embedded-opentype'),
			url('../fonts/UniversLTStd.svg#UniversLTStd') format('svg'),
			url('../fonts/UniversLTStd.ttf') format('truetype'),
			url('../fonts/UniversLTStd.woff') format('woff'),
			url('../fonts/UniversLTStd.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UniversLTStd-Light';
	src: url('../fonts/UniversLTStd-Light.eot');
	src: url('../fonts/UniversLTStd-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/UniversLTStd-Light.svg#UniversLTStd-Light') format('svg'),
			url('../fonts/UniversLTStd-Light.ttf') format('truetype'),
			url('../fonts/UniversLTStd-Light.woff') format('woff'),
			url('../fonts/UniversLTStd-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}