@mixin font-face(
	$font-family,
	$file-path,
	$weight: normal,
	$style: normal,
	$svgID: '',
	$file-formats: eot woff2 woff ttf svg)
{
	$font-url-prefix: url;

	@font-face {
		font-family: $font-family;
		font-style: $style;
		font-weight: $weight;
		src: font-source-declaration(
			$font-family,
			$file-path,
			$file-formats,
			$font-url-prefix,
			$svgID
		);
	}
}

@function font-source-declaration(
	$font-family,
	$file-path,
	$file-formats,
	$font-url,
	$svgID)
{

	$src: ();

	$formats-map: (
		eot:   "#{$file-path}.eot?#iefix" format("embedded-opentype"),
		ttf:   "#{$file-path}.ttf" format("truetype"),
		woff2: "#{$file-path}.woff2" format("woff2"),
		woff:  "#{$file-path}.woff" format("woff"),
		svg:   "#{$file-path}.svg##{$svgID}" format("svg")
	);

	@each $key, $values in $formats-map 
	{
		@if contains($file-formats, $key) 
		{
			$file-path: nth($values, 1);
			$font-format: nth($values, 2);
			$src: append($src, url($file-path) $font-format, comma);
		}
	}

	@return $src;
}