/**
** variations **
*  -m: medium
*	 -l: light
*  -b: bold
*  -obl: oblique
*/

/* colors */
$blue-l: #1ABDB4;
$blue-m: #00A3A1;
$grey-m: #7B7B7B;
$grey-l: #EBEBEB;
$yellow: #EAAA00;

/* fonts */
$univers-b: UniversLTStd-Bold;
$univers-obl: UniversLTStd-LightObl;
$univers-l: UniversLTStd-Light;

$officinaSerifITC: 'OfficinaSerifITC', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;