@import "libs/font-awesome";
@import "helpers/variables";
@import "helpers/extends";
@import "helpers/reset";
@import "helpers/sprite";

/**topo**/
#content{
	font: 14px Calibri, Arial, Helvetica;
	color: #333333;
	.center{
		width: 100%;
		padding: 20px 50px;
		box-sizing: border-box;
		overflow: hidden;
		text-align: center;
	}
	#topo{
		border-bottom: 1px solid #EEEEEE;
		.center{
			nav{
				float: left;
				a{
					font-weight: bold;
					padding: 0 25px;
					line-height: 27px;
					color: #333333;
					&:hover{
						text-decoration: underline;
					}
					&.lk-bazar{
						font-size: 13px;
						color: #92AA88;
					}
					&.lk-minha-conta,
					&.lk-fechar{
						display: none;
					}
				}
			}
			.logo{
				display: inline-block;
				img{
					display: block;
				}
			}
			.links{
				float: right;
				a{
					font-weight: bold;
					padding: 0 25px;
					line-height: 27px;
					color: #333333;
					&:hover{
						text-decoration: underline;
					}
					&.lk-buscar{
						font-size: 13px;
					}
				}
			}
			.lk-menu{
				position: absolute;
				top: 15px;
				left: 20px;
				color: #333333;
				font-size: 20px;
				display: none;
			}
			.menu-mobile{
				float: left;
			}
		}
	}
	#conteudo{
		.titulo{
			overflow: hidden;
			h1{
				float: left;
				font-weight: bold;
				font-size: 30px;
				line-height: 30px;
			}
			.filtro{
				float: right;
				select{
					width: 200px;
					height: 30px;
					border: 1px solid #EEEEEE;
					padding: 0 10px;
					line-height: 30px;
					text-transform: uppercase;
					box-sizing: border-box;
					font-size: 12px;
					&:focus { 
						border-color: #e2ddd2;
					}
				}
			}
		}
		.produtos{
			padding-top: 50px;
			position: relative;
			min-height: 500px;
			li{
				display: inline-block;
				width: 24%;
				margin-bottom: 60px;
				a{
					font-weight: bold;
					line-height: 180%;
					padding: 0 25px;
					display: block; 
					color: #333333;
					img{
						width: 100%;
						max-width: 403px;
						display: block;
						margin-bottom: 5px;
					}
					&:hover{
						box-shadow: 0px 2px 20px -1px rgba(102,99,102,0.3);
					}
				}
			}
			.loader{
				width: 100%;
				height: 100%;
				background: url(../img/loader.svg) no-repeat center center;
				position: absolute;
				top: 0;
				left: 0;
				display: none;
			}
		}
		.paginacao{
			text-align: center;
			a{
				width: 40px;
				height: 40px;
				display: inline-block;
				vertical-align: top;
				line-height: 40px;
				text-align: center;
				color: #333333;
				&.active,
				&:hover{
					background: #92AA88;
					color: #FFFFFF;
				}
				&.disable,
				&.disable:hover{
					background: #E2E2E2;
					color: #C6C6C6;
					cursor: default;
				}
			}
			.lista{
				display: inline-block;
				vertical-align: top;
				overflow: hidden;
				max-width: 200px;
				height: 40px;
				ul{
					position: relative;
					li{
						display: inline-block;
					}
				}
			}
		}
	}
}


@media (max-width: 1100px) 
{
	#content{
		#topo{
			.center{
				nav,
				.links{
					a{
						padding: 0 10px;
					}
				}
			}
		}
		#conteudo{
			.produtos{
				li{
					width: 33%;
				}
			}
		}
	}
}

@media (max-width: 900px) 
{
	#content{
		position: relative;
		.center{
			padding: 10px;
		}
		#topo{
			.center{
				.links{
					display: none;
				}
				.menu-mobile{
					position: fixed;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					background: rgba($color: #000000, $alpha: 0.8);
					z-index: 5;
					opacity: 0;
					left: -110%;
					visibility: hidden;
					transition: all .3s;
					&.ativo{
						opacity: 1;
						visibility: visible;
						left: 0;
					}
					nav{
						width: 70%;
						max-width: 300px;
						height: 100%;
						background: #F7F7F7;
						padding: 20px;
						box-sizing: border-box;
						position: relative;
						a{
							width: 100%;
							display: block;
							text-align: left;
							line-height: 50px;
							border-top: 1px solid #E2DDD2;
							box-sizing: border-box;
							&.lk-minha-conta{
								display: block;
								padding-top: 15px;
								font-weight: normal;
							}
							&:first-child{
								border: none;
							}
							&.lk-fechar{
								width: 20px;
								height: 20px;
								line-height: 20px;
								display: block;
								position: absolute;
								top:20px;
								right: -30px;
								border: none;								
								color: #92AA88;
								font-size: 22px;
							}
						}
					}
				}
				.lk-menu{
					display: block;
				}
			}
		}
		#conteudo{
			.produtos{
				padding-top: 20px;
				margin-left: -5px;
				margin-right: -5px;
				li{
					width: 50%;
					max-width: 403px;
					margin-bottom: 20px;
					a{
						padding: 0 5px;
					}
				}
			}
			.paginacao{
				a{
					width: 35px;
					height: 35px;
					line-height: 35px;
				}
				.lista{
					max-width: 170px;
					
				}
			}
		}
	}
}
@media (max-width: 500px) 
{
	#content{
		#topo{
			.center{
				.logo{
					img{
						width: 100px; 
					}
				}
			}
		}
		#conteudo{
			.titulo{
				.filtro{
					#selFiltro{
						width: 150px;
					}
				}
			}
			.produtos{
				li{
					a{
						h2{
							display: none;
						}
					}
				}
			}
		}
	}
}